In [1]:
!mc ls s3/zakariaebentahar

]11;?\mc: Configuration written to `/home/onyxia/.mc/config.json`. Please update your access credentials.
mc: Successfully created `/home/onyxia/.mc/share`.
mc: Initialized share uploads `/home/onyxia/.mc/share/uploads.json` file.
mc: Initialized share downloads `/home/onyxia/.mc/share/downloads.json` file.
[2024-10-21 09:58:10 UTC]  12MiB STANDARD usagers-2022.csv
[2024-10-21 09:58:11 UTC] 5.7MiB STANDARD vehicules-2022.csv

In [2]:
!mc cp s3/zakariaebentahar/usagers-2022.csv ./

...s-2022.csv: 12.41 MiB / 12.41 MiB ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓┃ 28.19 MiB/s 0s

In [4]:
import http
python3 -m http.server 8000

SyntaxError: invalid syntax (1852106394.py, line 2)

In [8]:
## Connexion au POSTGRESQL
!mc cp s3/zakariaebentahar/vehicules-2022.csv ./

...s-2022.csv: 5.74 MiB / 5.74 MiB ┃▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓┃ 28.91 MiB/s 0s

In [5]:
!pip install pandas psycopg2-binary sqlalchemy

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.12/site-packages (2.0.36)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading psycopg2_binary-2.9.10-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 19.5 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

In [18]:
import pandas as pd
df1 = pd.read_csv('usagers-2022.csv',sep=';')
df2 = pd.read_csv('vehicules-2022.csv',sep = ';')


print(df1.head())

        Num_Acc  id_usager id_vehicule num_veh  place  catu  grav  sexe  \
0  202200000001  1 099 700     813 952     A01      1     1     3     1
1  202200000001  1 099 701     813 953     B01      1     1     1     1
2  202200000002  1 099 698     813 950     B01      1     1     4     1
3  202200000002  1 099 699     813 951     A01      1     1     1     1
4  202200000003  1 099 696     813 948     A01      1     1     1     1

   an_nais  trajet  secu1  secu2  secu3  locp actp  etatp
0   2008.0       5      2      8     -1    -1   -1     -1
1   1948.0       5      1      8     -1    -1   -1     -1
2   1988.0       9      1      0     -1     0    0     -1
3   1970.0       4      1      0     -1     0    0     -1
4   2002.0       0      1      0     -1    -1   -1     -1

In [21]:
from sqlalchemy import create_engine

user = 'user-zakariaebentahar'
password = 'hxdp3znejmbqivt0sa5o'
hostname = 'postgresql-520982.user-zakariaebentahar'
database = 'defaultdb'

engine = create_engine(f'postgresql+psycopg2://{user}:{password}@{hostname}/{database}')

df1.to_sql('usagers', engine, if_exists='replace', index=False)

with engine.connect() as connection:
    result = pd.read_sql('SELECT * FROM usagers', connection)

print(result.head())

662

In [23]:

df2.to_sql('vehicules', engine, if_exists='replace', index=False)

        Num_Acc  id_usager id_vehicule num_veh  place  catu  grav  sexe  \
0  202200000001  1 099 700     813 952     A01      1     1     3     1
1  202200000001  1 099 701     813 953     B01      1     1     1     1
2  202200000002  1 099 698     813 950     B01      1     1     4     1
3  202200000002  1 099 699     813 951     A01      1     1     1     1
4  202200000003  1 099 696     813 948     A01      1     1     1     1

   an_nais  trajet  secu1  secu2  secu3  locp actp  etatp
0   2008.0       5      2      8     -1    -1   -1     -1
1   1948.0       5      1      8     -1    -1   -1     -1
2   1988.0       9      1      0     -1     0    0     -1
3   1970.0       4      1      0     -1     0    0     -1
4   2002.0       0      1      0     -1    -1   -1     -1